nav .navbar-header a i.em-jack_o_lantern {
  font-size: 30px;
  display:none;
}

nav .navbar-header a:hover i.em-jack_o_lantern {
  font-size: 30px;
  display:block;
}

nav .navbar-header a i.em-smile {
  font-size: 30px;
  display: block;
}

nav .navbar-header a:hover i.em-smile {
  font-size: 30px;
  display: none;
}

nav {
  cursor: url("../img/glass.png"), auto;
}

img {
cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"),auto;
}

.section .parallax > img {
  width: 100%;
  min-width: 0;
  min-height: 0;
}

.pattern-image {
    width: 100%;
    background-size: 100%;
}

.pattern-image:after{
  opacity: .2;
}

.section-header .separator {
    margin: 0em auto 2em;
    border: 1px
}

.section-header h1{
  text-shadow: -2px 2px 30px rgba(0, 0, 0, 0.25), -2px 4px 14px rgba(0, 0, 0, 0.1);
  cursor: url("../img/yellow.png"), auto;
}

.section-header .separator.line-separator:before, .section-header .separator.line-separator:after {
    border-color: white;
}

.section-header h5{
  text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
  cursor: url("../img/love.png"),auto;
}

.section-header {
  cursor: url("../img/red.png"),auto;
}

.section-header .content{
  top: 42%;
}

a.scroll-arrow {
  font-size: 70px;
  width: 70px;
  border:none;
  bottom: 100px;
}

.scroll-arrow i.em-book {
    display:none;
}

.scroll-arrow:hover i.em-book {
  display: block;
}

.scroll-arrow i.em-open_mouth {
  display: block;
}

.scroll-arrow:hover i.em-open_mouth {
display: none;
}


.section-introduction .title {
  text-align: center;
}

.section-introduction .carousel-caption {
  color: black;
}

.section-topic .title{
  text-align: center;
}

.section-topic .col-md-2 {
  text-align: right;
  position: relative;
  top: -50%;
  font-size: 500%;
}

.section-topic .col-md-9{
  text-align: left;
}

.section-topic .row-topic{
  border-style:groove;
  border-radius: 16px;
  width: 80%;
  position: relative;
}

.section-topic .row-topic1{
  position: relative;
  left: 150px;
}

.section-topic .row-topic1:hover{
  position: relative;
  left: 100px;
}

.section-topic .row-topic1 div.col-md-2 p i.em-japanese_goblin {
  display:none;
}

.section-topic .row-topic1:hover div.col-md-2 p i.em-japanese_goblin {
  display:block;
}

.section-topic .row-topic1 div.col-md-2 p i.em-angry {
  display: block;
}

.section-topic .row-topic1:hover div.col-md-2 p i.em-angry {
  display: none;
}

.section-topic .row-topic2 {
  position: relative;
  left: 150px;
}

.section-topic .row-topic2:hover {
  position: relative;
  left: 100px;
}

.section-topic .row-topic2 div.col-md-2 p i.em-blush {
  display:block;
}

.section-topic .row-topic2:hover div.col-md-2 p i.em-blush {
  display:none;
}

.section-topic .row-topic2 div.col-md-2 p i.em-boom {
  display: none;
}

.section-topic .row-topic2:hover div.col-md-2 p i.em-boom {
  display: block;
}

.section-topic .row-topic3{
  position: relative;
  left: 150px;
}

.section-topic .row-topic3:hover{
  position: relative;
  left: 100px;
}

.section-topic .row-topic3 div.col-md-2 p i.em-flushed {
  display:block;
}

.section-topic .row-topic3:hover div.col-md-2 p i.em-flushed {
  display:none;
}

.section-topic .row-topic3 div.col-md-2 p i.em-rage {
  display: none;
}

.section-topic .row-topic3:hover div.col-md-2 p i.em-rage {
  display: block;
}

header h1 {
  font-size: 60px;
  text-align: center;
  margin: 30px 0 30px 0;
}

footer {
  background-color:#f7f7f7;
  padding: 60px;
}

footer ul {
  padding: 0;
  list-style-type: none;

}

footer li {
  display: inline;
  margin: 15px;
}

footer a {
  color: black;
}

hr {
  border-top: 1px solid #c5a47e;
}
